* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgba(154, 154, 206, 0.842);
}

nav {
    background: rgba(83, 11, 105, 0.651);
    text-align: right;
    padding-top: 4px;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul li {
    font-size: 15px;
    font-weight: 600;
    word-spacing: 2px;
    display: inline-block;
    padding: 0;
}

.search {
    width: 280px;
    padding: 0;
    background: rgba(217, 240, 240, 0.925);
    border-radius: 16px;
    text-align: left;
    display: flex;
    margin: 0;
    margin-right: 5px;
    position: relative;
    top: -19px;
}

.search img {
    width: 18px;
    height: 18px;
    margin: 7px;
    margin-right: 0;
}

.search input {
    width: 255px;
    padding: 2px;
    margin: 0;
    border-radius: 12px;
    height: 31px;
    background-color: transparent;
    border-color: transparent;
}

nav ul li img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 0;
    margin: 0 8px;
    cursor: pointer;
}

nav ul li a {
    color: rgba(246, 248, 250, 0.932);
    text-decoration: none;
    padding: 1px;
    margin: 0;
}

.ii {
    float: left;
    word-spacing: 4px;
    margin: 0 45px;
}

.ii a img {
    width: 30px;
    height: 20px;
    border-radius: 0;
    margin: 0;
}

nav ul li a:hover {
    border-bottom: 3px solid rgba(233, 71, 125, 0.815);
    transition: 0.4s;
    transform: translate(-20%, -40%) scale(0.1);
}

.left-sidebar {
    width: 300px;
    background: rgba(125, 132, 133, 0.103);
    margin: 4px 3px 45px 2px;
    padding: 43px;
    float: left;
    display: grid;
    border-bottom: 3px solid rgba(235, 245, 245, 0.884);
    position: sticky;
    z-index: 100;
    top: 5px;
}

.left-sidebar a {
    width: 130px;
    text-decoration: none;
    font-size: 17px;
    font-style: italic;
    font-weight: 600;
    color: rgb(14, 14, 90);
    margin: 4px;
    margin-bottom: 18px;
}

.left-sidebar a:hover {
    color: rgb(128, 96, 10);
    font-size: 19px;
}

body {
    background: rgba(154, 154, 206, 0.842);
}

.profile {
    width: 45vh;
    border-radius: 20px;
    text-align: center;
    position: relative;
    margin-left: 24vh;
}

.profile img {
    width: 350px;
    height: 340px;
    border-radius: 50%;
    position: relative;
    top: -50vh;
    left: 50vh;
    margin: 0;
    border: 6px solid rgba(235, 245, 245, 0.884);
}

.add_story {
    width: 455px;
    position: relative;
    top: -45vh;
    left: 34vh;
    text-align: left;
    padding: 10px;
    word-spacing: 4px;
}

#adding {
    background-color: rgb(56, 56, 190);
    color: azure;
}

#editing {
    background-color: antiquewhite;
}

#deleting {
    width: 25px;
    padding: 2px;
    border-radius: 3px;
    font-weight: 600;
}

#adding,
#editing {
    width: 155px;
    padding: 9px;
    border-radius: 15px;
    font-weight: 600;
}

#adding:hover {
    background-color: rgba(74, 74, 175, 0.938);
    box-shadow: 0 1px 23px rgba(26, 32, 32, 0.767);
}

#editing:hover,
#deleting:hover {
    box-shadow: 0 1px 23px rgba(26, 32, 32, 0.767);
    color: rgb(60, 60, 151);
}

.the_t {
    width: 890px;
    position: absolute;
    top: 82vh;
    left: 35vh;
    display: flex;
}

.t_add {
    width: 160px;
    position: relative;
    text-align: left;
    background: #fff;
    border-radius: 17px;
    padding: 6px;
    word-spacing: 5px;
    font-weight: 600;
    top: -89px;
    display: grid;
    visibility: hidden;
    transform: translate(40%, 40%) scale(0.1);
    transition: transform 0.3s, translate 0.3s;
}

.tAdd {
    top: -40px;
    left: -56px;
    visibility: visible;
    transform: translate(40%, 50%) scale(1);
}

.t_edit {
    width: 160px;
    position: relative;
    text-align: left;
    background: #fff;
    border-radius: 17px;
    padding: 6px;
    word-spacing: 5px;
    font-weight: 600;
    top: -89px;
    display: grid;
    visibility: hidden;
    transform: translate(40%, 40%) scale(0.1);
    transition: transform 0.3s, translate 0.3s;
}

.tEdit {
    top: -40px;
    left: -28px;
    visibility: visible;
    transform: translate(40%, 50%) scale(1);
}

.t_delete {
    width: 160px;
    position: relative;
    text-align: left;
    background: #fff;
    border-radius: 17px;
    padding: 6px;
    word-spacing: 5px;
    font-weight: 600;
    top: -89px;
    display: grid;
    visibility: hidden;
    transform: translate(40%, 40%) scale(0.1);
    transition: transform 0.3s, translate 0.3s;
}

.tDelete {
    top: -40px;
    left: -28px;
    visibility: visible;
    transform: translate(40%, 50%) scale(1);
}

.t_add a,
.t_delete a,
.t_edit a {
    text-decoration: none;
    color: rgba(41, 43, 43, 0.884);
    font-style: italic;
    margin: 2px;
}

.t_add a:hover,
.t_delete a:hover,
.t_edit a:hover {
    color: rgb(104, 104, 245);
}